@import url(main.css);

main {
    padding: 0 var(--area-segura-lateral);
}

main>section {
    width: 100%;   
    margin-top: 5rem;
}

main>section>div {
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

#legenda_tabela h1{
    font-size: 2.5rem;
}

#legenda_tabela button {
    height: fit-content;
}

table {
    width: 100%;
    border-collapse: collapse;
}


thead {
    border-bottom: .1rem solid white;
    
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 600;
}

thead tr:first-child {
    width: 6rem;
}

thead td:first-child>input {
    margin: 0 auto;
}

tbody tr:nth-child(odd) {
    background-color: rgba(51, 51, 51, 0.349);
}

tbody td {
    font-size: 1.1rem;
}