@import url(main.css);

h1,h2,h3,h4:not(footer h4) {
    text-transform: uppercase;
}

h1,h2,h3,h4,p {
    margin: 0;
}

h2 {
    font-size: 3.2rem;
    text-transform: uppercase;

    color: var(--cor-azul);
}

p {
    font-size: 2.3rem;
}

section {
    padding: 9rem 0;
}

section#desafio {
    text-align: center;
}

section#desafio p {
    margin: auto;
    margin-top: 2rem;
}

section#desafio>div {
    margin: 8rem 0;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15rem;
}

section#desafio .float {
    width: 15.3rem;
}

section#desafio .float>img {
    width: 11.5rem;
}

section#desafio .float>p {
    font-weight: 600;
}

section#solucao {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7rem;
}

section#solucao h3 {
    width: 22rem;
    margin-right: 5rem;
    font-size: 3.2rem;
}

section#solucao .card {
    width: 18rem;
    height: 29rem;
    padding: 2.7rem 3rem;
    border-radius: 2rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    background-image: linear-gradient(#1E1E1E, #111111);

    text-align: center;
}

section#solucao .card>h4 {
    font-size: 2rem;
}

section#solucao .card>img {
    width: 10.5rem;
}

section#solucao .card p {
    font-size: 1.8rem;
}