@import url(main.css);

:root {
    --transicao-banners: 300ms ease-in-out 250ms;
    --transicao-banners-delay: 0ms: 
}

h1,h2,h3,h4:not(footer h4) {
    text-transform: uppercase;
}

h1,h2,h3,h4,p {
    margin: 0;
}

h2 {
    font-size: 3.2rem;
    text-transform: uppercase;

    color: transparent;
    background-image: linear-gradient(to right, var(--cor-verde-claro), var(--cor-azul-claro));
    background-clip: text;
}

p:not(footer p) {
    font-size: 2.3rem;
}

section {
    padding: 9rem 0;
}

/* Seção desafio */
section#desafio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
}

section#desafio>p {
    margin-top: 3rem;
}

section#desafio>div {
    margin: 8rem 0;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15rem;
}

section#desafio .float {
    width: 20rem;
    height: 22.1rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
}

section#desafio .float>img {
    height: 11.5rem;
}

section#desafio .float>p {
    font-weight: 600;
}
/* Fim seção desafio */

/* Seção solução */
section#solucao {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7rem;
}

section#solucao h3 {
    width: 22rem;
    margin-right: 5rem;
    
    font-size: 3.2rem;
    color: transparent;

    background-image: linear-gradient(to right, #808BFF 0%, #87DED7 90%);
    background-clip: text;
}

section#solucao .card {
    width: 18rem;
    height: 29rem;
    padding: 2.7rem 3rem;
    border-radius: 2rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    background-image: linear-gradient(#1E1E1E, #111111);

    text-align: center;
}

section#solucao .card>h4 {
    font-size: 2rem;
}

section#solucao .card>img {
    height: 10.5rem;
}

section#solucao .card p {
    font-size: 1.8rem;
}
/* Fim seção solução */

/* Seção relatos */
section#relatos>h3 {
    padding-bottom: .7rem;
    margin-bottom: 3rem;

    border-bottom: .3rem solid white;
    border-image: linear-gradient(to right, var(--cor-azul) 0%, var(--cor-verde-claro) 70%, black 70%) 1;

    text-align: center;
    font-size: 3.2rem;
    font-weight: 500;
}

section#relatos>div {
    display: flex;
    justify-content: stretch;
    align-items: center;

    color: transparent;
}

section#relatos>div .banner {
    position: relative;
    transition: var(--transicao-banners);
    
    aspect-ratio: 1;
    background-position: center;
    background-size: cover;

    font-size: 2rem;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section#relatos>div .banner::after {
    transition: var(--transicao-banners);

    content: '';
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
}
section#relatos>div .banner:hover::after {
    background-color: rgba(0, 0, 0, 0.55);
    transition-delay: var(--transicao-banners-delay);
}

section#relatos>div .banner>* {
    z-index: 1;
    transition: var(--transicao-banners)
}

section#relatos>div .banner:hover > * {
    color: white;
    transition-delay: var(--transicao-banners-delay);
}

section#relatos> div .banner blockquote {
    width: 70%;

    text-align: justify;
    font-style: italic;
}
/* Fim seção relatos */

/* Seção ação */
section#acao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4.5rem;

    text-align: center;
}

section#acao button {
    margin: 0 2.5rem;
}