@import url(main.css);
@import url(tabela.css);
@import url(search_artistas.css);

body {
    padding: 8vh var(--area-segura-lateral) 8vh var(--area-segura-lateral);
    font-family: 'Raleway', sans-serif;
}

h2 {
    font-size: 3.2vh;
    font-weight: 500;
}

h3 {
    font-size: 2.5vh;
    font-weight: 400;
}

p {
    font-size: 1.8vh;
}

select {
    text-align: center;
    height: 4vh;
}

input {
    border: 0.5px solid #767676;
    text-align: left;
    padding-inline: 1.2vh;
    height: 3.7vh;
}

button:disabled {
    cursor: auto;
    opacity: 40%;
}

button:hover:disabled {
    opacity: 40%;
}

.topo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.topo-desc {
    margin-right: 1.5vw;
}

.topo-menu {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-block: 2.7vh;
}

.topo-criar {
    display: flex;
    flex-direction: column;
}

.topo-selecionar {
    margin-bottom: 2.7vh;
}

.topo-lineups {
    display: flex;
    align-items: flex-end;
    /* padding-block: 2.7vh; */


    .select-lineups {
        display: flex;
        flex-direction: column;
        margin-right: 1.2vw;

        label {
            font-size: 1.8vh;
            margin-bottom: 1vh;
        }

        select,
        input {
            background: transparent;
            color: #767676;
            font-size: 1.8vh;
            border-radius: 8px;
            width: 20vw;
            outline: none;
            cursor: pointer;
        }

        select option {
            background: #000;
            color: #fff;
        }

        select:focus {
            color: #fff;
        }

        span {
            background: transparent;
            color: #fff;
            font-size: 1.8vh;
            border-radius: 8px;
            outline: none;
        }
    }

}

button {
    padding: 0.7vh 1.3vw;
    height: 4vh;
    font-size: 1.8vh;
}


.title-lineup {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 5vh;
    margin-top: 1.7vh;

    .bi {
        font-size: 2vh;
        margin-right: .7vw;
        cursor: pointer;
        opacity: 80%;
    }

    i:hover {
        color: var(--cor-azul-claro);
        opacity: 100%;
    }

    input {
        background: transparent;
        font-size: 3.2vh;
        font-weight: 500;
        outline: none;
        border: 0;

        width: auto;
        max-width: 100%;

        padding-left: 0;

        caret-color: white;

        color: transparent;
        background-image: linear-gradient(#80FFB3, #87AADE);
        background-clip: text;
    }

    #medidor {
        position: absolute;
        visibility: hidden;
        white-space: pre;
        font-size: 16px;
        padding: 4px;
    }

    button {
        background: transparent;
        font-size: 1.5vh;
        border: 1px solid #fff;
        border-radius: .5rem;
        padding: 0.7vh 1.3vw;
        height: auto;
        text-transform: none;
    }
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ MOBILE*/
@media (max-width: 615px) {
    html {
        max-width: 100% !important;
    }

    body {
        padding-top: 12vh;
        padding: 12vh 4vw 8vh 4vw;

    }

    .topo {
        align-items: flex-start;
        flex-direction: column;
    }

    .topo-menu {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-top: 0;
    }

    .topo-lineups {
        padding-block: 2.7vh;

        .select-lineups {
            margin-right: 2vw;

            select {
                width: 60vw !important;
            }

            input {
                width: 55vw !important;
            }
        }
    }

    .topo-selecionar {
        flex-direction: row;
        align-items: flex-end;
        justify-content: flex-start;
        margin-bottom: 0;

        .botoes-select {
            display: flex;
            flex-direction: row;

            button {
                font-size: 1.8vh;
                padding: 0.5vh 2vw;
                margin-right: 1vw;
            }
        }
    }

    button {
        padding: 0.7vh 3vw;
        height: 4vh;
        font-size: 1.8vh;
    }

    .title-lineup {
        align-items: baseline;
        margin-top: 5vh;

        h2 {
            margin-block: 0;
        }

        .bi {
            font-size: 2vh;
            margin-right: 2vw;
        }
    }

}